$loader-color: #dddddd;

@mixin loader {
	position: relative;
	background-color: $loader-color;

	&:before {
		content: "";
		position: absolute;
		top: calc(50% - 16px);
		left: calc(50% - 16px);
		display: block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 4px solid #fff;
		border-color: #fff transparent #fff transparent;
		animation: rotate 1.2s linear infinite;
	}
}

.header-loader {
	height: 58px;
	margin-bottom: 2rem;
	@include loader;
}

.sidebar-loader {
	height: 200px;
	@include loader;
}

.login-loader {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	@include loader;
}

.content-loader {
	width: 100%;
	height: 300px;
	@include loader;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}